name: Rust Semver Checks
on:
  pull_request_target:
    branches:
      - '**'

jobs:
  # Check if changes were made to the relevant files.
  # Always returns true if running on the default branch, to ensure all changes are thoroughly checked.
  changes:
    name: Check for changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      rust: ${{ steps.filter.outputs.rust }}
      python: ${{ steps.filter.outputs.python }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/check-changes
        id: filter

  rs-semver-checks:
    needs: [changes]
    if: ${{ needs.changes.outputs.rust == 'true' }}
    steps:
    # once llvm-21 is packaged on apt, we could just download it using 'apt-dependencies'
    # in the step below
    - name: Install LLVM
      uses: KyleMayes/install-llvm-action@v2
      with:
        version: "21.1"
    - name: Run Rust checks
      uses: quantinuum/hugrverse-actions/.github/workflows/rs-semver-checks.yml@main
      secrets:
        GITHUB_PAT: ${{ secrets.HUGRBOT_PAT }}
